table#navbar{
    display: none;
}

.widget h2{
    margin: 10px;
}

.character{
    border-top: 1px solid grey;
    background-color: white;
    color: black;
}

.character p{
    padding: 5px;
    padding-left: 10px;
    font-weight: 700;
}

.player{
    background-color: rgb(51, 51, 51);
    color: white;
    cursor: pointer;
}

.character p:last-child{
    font-weight: 500;
}

input, textarea{
    display: block;
    padding: 5px;
    border: 1px solid grey;
    border-radius: 5px;
    width: calc(100% - 20px);
    margin: 10px auto;
    resize: none;
}

button{
    display: block;
    padding: 10px;
    border-radius: 5px;
    width: calc(100% - 20px);
    margin: 10px auto;
    font-weight: 700;
    font-size: 18px;
    border: none;

    background-color: black;
    color: white;
}

div.update{
    margin: 10px;
    padding: 5px;
    width: calc(100% - 20px);
    border: 1px solid grey;
    border-radius: 5px;
}

div.update p:first-child{
    font-weight: 700;
    margin-bottom: 10px;
}

div#chatbox{
    width: 100%;
    position: absolute;
    bottom: 0;
}

form#form-messages{
    padding: 0 10px;
    background-color: grey;
}

input#message{
    display: inline-block;
    height: 30px;
    width: calc(75% - 3px);
    vertical-align: top;

}

button#chatbutton{
    display: inline-block;
    height: 30px;
    font-size: 16px;
    padding: 0;
    width: calc(25% - 2px);
}

div.message{
    border-top: 1px solid grey;
}

p.sender{
    font-weight: 700;
    padding: 5px 10px;
}

p.message{
    background-color: crimson;
    color: white;
    padding: 5px;
    margin: 5px 10px;
    border-radius: 5px;
}

@media only screen and (min-width:480px) {
    .widget{
        width: 25%;
    }
}

@media only screen and (max-width:480px) {
    table#navbar{
        display: table;
        width: 100%;
        border-collapse: collapse;
        height: 50px;
        background-color: black;
        color: white;

        position: absolute;
        bottom: 0;
    }

    table#navbar th{
        border: 1px solid grey;
        cursor: pointer;
        width: 33.3%;
    }

    .widget{
        background-color: white;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: calc(100% - 50px);
    }

    p.player{
        padding: 10px;
    }
}