{% extends 'layout.html' %}
{% block head %}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/campaign.css') }}">
    <script src="{{ url_for('static', filename='scripts/campaign.js') }}"></script>
{% endblock head %}
{% block header %}
    
{% endblock header %}
{% block body %}
    <div class="widget" id="players" style="z-index: 100">
        <div class="game-master">
            <p>Game Master: {{master.email}}</p>
        </div>
        <h2>Players</h2>
        <div id="player-list">
            {% for player in players %}
                <p class="player">{{player.email}}</p>
                {% for character in player.characters %}
                <div class="character">
                    <p class="first">{{character.name}}</p>
                    <div class="char-info">
                        <p>{{character.race}}</p>
                        <p>{{character.class}}</p>
                        <p>{{character.description}}</p>
                    </div>
                </div>
                {% endfor %}
            {% endfor %}
        </div>
        {% if session['userid'] == master.id %}
            <form action="/campaign/user/add" method="post" id="form-add-user">
                <input type="search" name="search" id="search" placeholder="User Email">
                <button type="submit" id="form-add-user-submit" style="background-color: grey">Add Player</button>
            </form>
        {% else %}
            <form action="/player/id/addcharacter" method="post" id="form-add-character">
                <input type="text" name="name" id="name" placeholder="Character Name">
                <input type="text" name="race" id="race" placeholder="Character Race">
                <input type="text" name="class" id="class" placeholder="Character Class">
                <textarea name="description" id="description" placeholder="Description"></textarea>
                <button type="submit" id="form-add-character-submit">Add Character</button>
            </form>
        {% endif %}
    </div>

    <div class="widget" id="updates">
        <h2>Updates</h2>
        <div class="update">
            <p>update.created_at</p>
            <p>update.update</p>
        </div>
        <div class="update">
            <p>update.created_at</p>
            <p>update.update</p>
        </div>
    </div>
    <div class="widget" id="chat">
        <h2>Chat</h2>
    </div>
    <table id="navbar">
        <tr>
            <th id="nav-players">Players</th>
            <th id="nav-updates">Updates</th>
            <th id="nav-chat">Chat</th>
        </tr>
    </table>
{% endblock body %}