{% extends 'layout.html' %}
{% block head %}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/campaign.css') }}">
    <script src="{{ url_for('static', filename='scripts/campaign.js') }}"></script>
{% endblock head %}
{% block header %}
<a id="logout" href="/logout">logout</a>    
{% endblock header %}
{% block body %}
    <div class="widget" id="players">
        <div class="game-master">
            <p>Game Master: {{master.email}}</p>
        </div>
        <h2>Players</h2>
        <div id="player-list">
            {% for player in players %}
                <p class="player player{{player.id}}">{{player.email}}</p>
                <div class="character-list">
                    {% for character in player.characters %}
                    <div class="character">
                        <p class="first">{{character.name}}</p>
                        <div class="char-info">
                            <p>{{character.race}}</p>
                            <p>{{character.class}}</p>
                            <p>{{character.description}}</p>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            {% endfor %}
        </div>
        {% if session['userid'] == master.id %}
            <form action="/campaign/user/add" method="post" id="form-add-user">
                <input type="search" name="search" id="search" placeholder="User Email">
                <button type="submit" id="form-add-user-submit" style="background-color: grey">Add Player</button>
            </form>
        {% else %}
            <form action="/player/id/addcharacter" method="post" id="form-add-character">
                <input type="text" name="name" id="name" placeholder="Character Name">
                <input type="text" name="race" id="race" placeholder="Character Race">
                <input type="text" name="class" id="class" placeholder="Character Class">
                <textarea name="description" id="description" placeholder="Description"></textarea>
                <button type="submit" id="form-add-character-submit">Add Character</button>
            </form>
        {% endif %}
    </div>

    <div class="widget" id="updates" style="z-index: 100">
        <h2>Campaign Log</h2>
        {% if session['userid'] == master.id %}
            <form action="/submitupdate" method="post" id="form-update">
                <textarea name="update" id="update" placeholder="New Campaign Log"></textarea>
                <button type="submit">Add Log</button>
            </form>
        {% endif %}
        {% for update in updates %}
            <div class="update">
                <p>{{update.created_at.strftime('%B %d %Y')}}</p>
                <p>{{update.update}}</p>
            </div>
        {% endfor %}
    </div>
    <div class="widget" id="chat">
        <div id="chatbox">
            {% for message in messages %}
                <div class="message">
                    <p class="sender">{{message.user.email}}</p>
                    <p class="message">{{message.message}}</p>
                </div>
            {% endfor %}
            <form action="/messages" method="post" id="form-messages">
                <input type="text" name="message" id="message" placeholder="message">
                <button type="submit" id="chatbutton">Send</button>
            </form>
        </div>
    </div>
    <table id="navbar">
        <tr>
            <th id="nav-players">Players</th>
            <th id="nav-updates">Log</th>
            <th id="nav-chat">Chat</th>
        </tr>
    </table>
{% endblock body %}